@page
@model goreo.Pages.Routes.IndexModel

@{
    ViewData["Title"] = "Your Routes";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/IndexRoutes.css"/>

<div class="routes-container">
    <div class="banner">
        <div class="small-logo">
            <img src="~/photos/Group 2.png" class="logo" alt="logo"/>
        </div>
        <div class="site-name">
            Przebyte trasy
        </div>
        <div class="dropdown-logout">
            <div class="data-button">
                <div class="data-and-role">
                    <div class="personal-data">
                        @Html.DisplayFor(model => model.IndexedUser.FirstName)
                        @Html.DisplayFor(model => model.IndexedUser.Surname)
                    </div>
                    <div class="role">
                        @(Model.IndexedUser.GetRoleForFrontend())
                    </div>
                </div>
                <div class="user-photo">
                    <img src="@(
                                  Model.IndexedUser.ProfileImage == null
                                      ? "~/photos/DefaultProfileImage.png"
                                      : "~/profilePictures/" + Model.IndexedUser.ProfileImage)"
                         asp-append-version="true" alt="" width="50px" height="50px"/>
                </div>
            </div>
            <div class="logout-content">
                <a asp-page="/Users/Logout">Wyloguj</a>
            </div>
        </div>
    </div>
    <div class="back-to-menu">
        <div class="arrow-back">
            <img src="~/photos/Icon awesome-arrow-left.png"/>
        </div>
        <div class="back-to-menu-text">
            Wróć do menu
        </div>
    </div>
    <div class="add-route">
        <a asp-page="/Routes/New">
            <button class="add-route-button">Dodaj trasę</button>
        </a>
    </div>
    <div class="labels">
        <div class="label-route">
            Trasa
        </div>
        <div class="label-date">
            Data
        </div>
        <div class="label-approval">
            Zatwierdzenie
        </div>
        <div class="label-badge">
            Odznaka
        </div>
    </div>
    <hr class="label-line"/>
    @foreach (var route in Model.IndexedUser.Routes)
        {
            <div class="routes">
                <div class="routes-route">
                    @Html.DisplayFor(modelItem => route.Name)
                </div>
                <div class="routes-date">
                    @(route.BookletsRoutes
                        .FirstOrDefault(bookletsRoute => bookletsRoute.Booklet == Model.IndexedUser.Booklet)?
                        .EntryDate
                        .ToShortDateString())
                </div>
                <div class="routes-approval">
                    bar
                </div>
                <div class="routes-badge">
                    foobar
                </div>
            </div>
            <hr class="shadow-routes"/>
        }
</div>