@page
@model goreo.Pages.Routes.NewModel

@{
    ViewData["Title"] = "New";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/NewRoute.css"/>

<div class="new-container">
    <div class="banner">
        <div class="small-logo">
            <img src="~/photos/Group 2.png" class="logo" alt="logo"/>
        </div>
        <div class="site-name">
            Nowa trasa
        </div>
        <div class="dropdown-logout">
            <div class="data-button">
                <div class="data-and-role">
                    <div class="personal-data">
                        @ViewBag.User.FirstName
                        @ViewBag.User.Surname
                    </div>
                    <div class="role">
                        @ViewBag.User.GetRoleForFrontend()
                    </div>
                </div>
                <div class="user-photo">
                    <img src="@(
                                  ViewBag.User.ProfileImage == null ? "~/photos/DefaultProfileImage.png" : "~/profilePictures/" + ViewBag.User.ProfileImage)"
                         asp-append-version="true" alt="" width="50px" height="50px"/>
                </div>
            </div>
            <div class="logout-content">
                <a asp-page="/Users/Logout">Wyloguj</a>
            </div>
        </div>
    </div>
    <a asp-page="/Routes/Index">
        <div class="back-to-menu">
            <div class="arrow-back">
                <img src="~/photos/Icon awesome-arrow-left.png"/>
            </div>
            <div class="back-to-menu-text">
                Wróć do tras
            </div>
        </div>
    </a>
    <form method="post">
        <div class="container-body">
            <div class="left-container">
                <div class="calendar-label">
                    Data odbycia wycieczki
                </div>
                <div class="date-input">
                    <input type="date" class="date-picker-route"/>
                </div>
                <div class="custom-control custom-switch with-leader-switch">
                    @if (ViewBag.User.GetRoleForFrontend() == "Przodownik")
                    {
                        <input asp-for="NewRouteData.WasLeaderPresent" type="checkbox" class="custom-control-input" id="customSwitch1" disabled>
                    }
                    else
                    {
                        <input asp-for="NewRouteData.WasLeaderPresent" type="checkbox" class="custom-control-input" id="customSwitch1">
                    }

                    <label class="custom-control-label label-check" for="customSwitch1">Czy przodownik był obecny?</label>
                </div>
                <div class="custom-control custom-switch with-leader-switch">
                    <input asp-for="NewRouteData.IsCounted" type="checkbox" class="custom-control-input" id="customSwitch2">
                    <label class="custom-control-label label-check" for="customSwitch2">Czy dodać trasę do odznaki?</label>
                </div>
            </div>
            <div class="right-container">
                @foreach (var selectedSection in ViewBag.SelectedSections)
                {
                    <div class="section">
                        @selectedSection
                    </div>
                }
                <div class="add-section">
                    <div class="form-group select-section">
                        <select asp-for="Section.Id" class="form-control selectpicker" data-live-search="true" asp-items="ViewBag.Sections"></select>
                    </div>
                </div>
                <div class="button-for-section">
                    <button type="submit" class="add-section-button" asp-page-handler="section" asp-route-id="1">Dodaj kolejny odcinek</button>
                </div>
            </div>
            <div class="container-page-end">
                <div class="labels">
                    <div class="label-mountain-group">
                        Numer grupy górskiej: @ViewBag.mountainGroupNo
                    </div>
                    <div class="label-points">
                        Suma punktów: @ViewBag.points
                    </div>
                </div>
                <div class="save-route">
                    <button type="submit" class="save-route-button" asp-page-handler="route" asp-route-id="1">Zapisz trasę</button>
                </div>
            </div>
        </div>
    </form>
</div>