@page
@model goreo.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="d-flex justify-content-between px-2 py-2">
    <a asp-page="Register" class="h4">Create New</a>
    <a asp-page="/Users/Logout" class="h4">Logout</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsersWithImagePath[0].User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsersWithImagePath[0].User.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsersWithImagePath[0].User.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsersWithImagePath[0].User.ProfileImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsersWithImagePath[0].User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsersWithImagePath[0].User.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsersWithImagePath[0].User.CityOfResidence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsersWithImagePath[0].User.IsLeader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsersWithImagePath[0].User.LeaderIdNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsersWithImagePath[0].User.IsAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsersWithImagePath[0].User.Booklet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var userWithImagePath in Model.UsersWithImagePath) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => userWithImagePath.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => userWithImagePath.User.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => userWithImagePath.User.Password)
            </td>
            <td class="col-sm-10">
                <img src="@(userWithImagePath.ImagePath)"
                     asp-append-version="true" width="150px" height="150px" alt=""/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => userWithImagePath.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => userWithImagePath.User.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => userWithImagePath.User.CityOfResidence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => userWithImagePath.User.IsLeader)
            </td>
            <td>
                @Html.DisplayFor(modelItem => userWithImagePath.User.LeaderIdNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => userWithImagePath.User.IsAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => userWithImagePath.User.Booklet.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@userWithImagePath.User.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@userWithImagePath.User.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@userWithImagePath.User.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
